<div class="controles">
  <button (click)="girarTragaperras()">Girar</button>
  <button (click)="returnHome()">Volver a HOME</button>
</div>

<div class="game-container">
  <div class="container-puntos">
    <app-puntos [puntuacionTotal]="puntuacionTotal"></app-puntos>
  </div>

  <div class="tragaperras-grid">
    <div class="tragaperras-column" *ngFor="let columnaIndex of [1,2,3,4,5]; let i = index">
      <div 
        class="tragaperras-item" 
        *ngFor="let letra of getColumnaVisible(columnaIndex); let j = index" 
        [class.spin]="j === 2"
      >
        {{ letra }}
      </div>
    </div>

    <div class="palanca">
      <input 
        type="checkbox" 
        [(ngModel)]="palancaActivada" 
        [disabled]="palancaActivada" 
        name="Palanca" 
        value="Palanca" 
        (click)="girarTragaperras()"
      >
    </div>
  </div>
</div>