.tragaperras-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tragaperras-column {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 5px black ridge;
}

.tragaperras-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 80px;
  width: 80px;
  border: 2px solid #333;
  background-color: #fafafa;
  border-radius: 8px;
  margin: 4px;
}

.tragaperras-item.spin {
  transform: scale(1.2); /* Zoom solo en el item central */
}

.palanca {
  transform: scale(3);
}