<div class="controles">
  <button (click)="girarTragaperras()">Girar</button>
  <button (click)="returnHome()">Volver a HOME</button>
</div>

<div class="game-container">
  <div class="container-puntos">
    <app-puntos [puntuacionTotal]="puntuacionTotal"></app-puntos>
  </div>
  <div class="tragaperras-grid">
    <div class="tragaperras-column">
      <div class="tragaperras-item" *ngFor="let letra of columna1; let i = index" [class.spin]="i === 2">
        {{ letra }}
      </div>
    </div>
    <div class="tragaperras-column">
      <div class="tragaperras-item" *ngFor="let letra of columna2; let i = index" [class.spin]="i === 2">
        {{ letra }}
      </div>
    </div>
    <div class="tragaperras-column">
      <div class="tragaperras-item" *ngFor="let letra of columna3; let i = index" [class.spin]="i === 2">
        {{ letra }}
      </div>
    </div>
    <div class="tragaperras-column">
      <div class="tragaperras-item" *ngFor="let letra of columna4; let i = index" [class.spin]="i === 2">
        {{ letra }}
      </div>
    </div>
    <div class="tragaperras-column">
      <div class="tragaperras-item" *ngFor="let letra of columna5; let i = index" [class.spin]="i === 2">
        {{ letra }}
      </div>
    </div>

    <div class="palanca">
      <input type="checkbox" [(ngModel)]="palancaActivada" [disabled]="palancaActivada" name="Palanca" value="Palanca" (click)="girarTragaperras()">
    </div>

  </div>
</div>
