.game-container {
  width: 500px;
}

.puntuaciones {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.manos {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mano-jugador {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}

.mano-ia {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}
