/* You can add global styles to this file, and also import other style files */

/*
Botones Toggle CSS
*/
button, select {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #494949;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  transition: background-color 0.3s ease;
  background-color: #989898;
  color: white;
}

.button-switch-on {
  background-color: #717171;
  color: white;
}

.button-switch-off {
  background-color: #a6a6a6;
  color: white;
}

.button-switch-alternative {
  color: #565656;
}

.controles {
  display: flex;
  flex-direction: row;
}