<div *ngIf="!gameStarted">
  <button (click)="startGame()">INICIAR PARTIDA</button>
</div>

<div *ngIf="gameStarted" class="oficina">
  <ng-container *ngIf="!cameraOpen">
    <img
      src="../../../../assets/five-nights/oficina/oficina-1.png"
      alt="Oficina"
      class="oficina-img"
      draggable="false"
    />

    <!-- Zona clicable para puertas -->
    <div class="door-area">
      <div
        class="click-area"
        [ngClass]="{
          opened: doors.leftDoor.opened,
          closed: !doors.leftDoor.opened
        }"
        (click)="useButtonDoor(1)"
        [style.left.px]="puerta1.x"
        [style.top.px]="puerta1.y"
        [style.width.px]="puerta1.width"
        [style.height.px]="puerta1.height"
      ></div>

      <div
        class="click-area"
        [ngClass]="{
          'lights-on': doors.leftDoor.light,
          'lights-off': !doors.leftDoor.light
        }"
        (click)="lightButtonDoor(1)"
        [style.left.px]="puerta1Luz.x"
        [style.top.px]="puerta1Luz.y"
        [style.width.px]="puerta1Luz.width"
        [style.height.px]="puerta1Luz.height"
      ></div>

      <div
        class="click-area"
        [ngClass]="{
          opened: doors.rightDoor.opened,
          closed: !doors.rightDoor.opened
        }"
        (click)="useButtonDoor(2)"
        [style.left.px]="puerta2.x"
        [style.top.px]="puerta2.y"
        [style.width.px]="puerta2.width"
        [style.height.px]="puerta2.height"
      ></div>

      <div
        class="click-area"
        [ngClass]="{
          'lights-on': doors.rightDoor.light,
          'lights-off': !doors.rightDoor.light
        }"
        (click)="lightButtonDoor(2)"
        [style.left.px]="puerta2Luz.x"
        [style.top.px]="puerta2Luz.y"
        [style.width.px]="puerta2Luz.width"
        [style.height.px]="puerta2Luz.height"
      ></div>

      <div
        class="click-area"
        [ngClass]="{
          'lights-on': doors.centralDoor.light,
          'lights-off': !doors.centralDoor.light
        }"
        (click)="lightButtonDoor(3)"
        [style.left.px]="pasilloLuz.x"
        [style.top.px]="pasilloLuz.y"
        [style.width.px]="pasilloLuz.width"
        [style.height.px]="pasilloLuz.height"
      ></div>
    </div>

    <!-- Área de cámara -->
    <div
      class="camera-click-area"
      (click)="openCamera()"
      [style.left.px]="camaras.x"
      [style.top.px]="camaras.y"
      [style.width.px]="camaras.width"
      [style.height.px]="camaras.height"
    ></div>

    <!-- Indicadores de batería y reloj -->
    <div
      class="bateria"
      [style.left.px]="bateria.x"
      [style.top.px]="bateria.y"
      [style.width.px]="bateria.width"
      [style.height.px]="bateria.height"
    >
      {{ batteryLeft.toFixed(2) }}
    </div>

    <div
      class="reloj"
      [style.left.px]="reloj.x"
      [style.top.px]="reloj.y"
      [style.width.px]="reloj.width"
      [style.height.px]="reloj.height"
    >
      {{ timeString }}
    </div>
  </ng-container>

  <div *ngIf="cameraOpen" class="modal-camaras">
    <span class="close" (click)="openCamera()">&times;</span>

    <div *ngIf="cameraNumber == 0">
      <img
        src="../../../../assets/five-nights/oficina/oficina-1.png"
        alt="Oficina"
        class="camara-img"
        draggable="false"
      />
    </div>
    <div *ngIf="cameraNumber == 0"></div>
    <div *ngIf="cameraNumber == 1"></div>
    <div *ngIf="cameraNumber == 2"></div>
    <div *ngIf="cameraNumber == 3"></div>
    <div *ngIf="cameraNumber == 4"></div>

    <div
      class="camera-click-area"
      (click)="openCamera()"
      [style.left.px]="camarasOpened.x"
      [style.top.px]="camarasOpened.y"
      [style.width.px]="camarasOpened.width"
      [style.height.px]="camarasOpened.height"
    ></div>
  </div>
</div>
