<div class="container">
    <h1>JUEGOS DISPONIBLES</h1>
    <hr>
    <ol>
        <li>
            <h3>LEAGUE OF LEGENDS</h3>
            <ol>
                <li><a [routerLink]="['/home/LOL/play/Encontrar_el_campeon']">Encontrar al campeón</a></li>
            </ol>
        </li>
        <li>
            <h3>5 nights</h3>
            <ol>
                <!-- <li><a [routerLink]="['/home/5nights/play/5nights1']">5 nights - 1</a></li> -->
            </ol>
        </li>
        <li>
            <h3>CASINO</h3>
            <ol>
                <li><a [routerLink]="['/home/CASINO/play/Black_Jack']">Black Jack</a></li>
                <li><a [routerLink]="['/home/CASINO/play/Maquina_tragaperras']">Tragaperras</a></li>
            </ol>
        </li>
    </ol>

</div>