<div class="container">
  <h1>JUEGOS DISPONIBLES</h1>
  <ol>
    <li>
      <h3>LEAGUE OF LEGENDS</h3>
      <ol>
        <li>
          <a [routerLink]="['/home/LOL/play/Encontrar_el_campeon']">Encontrar al campeón</a>
        </li>
      </ol>
    </li>
    <li>
      <h3>5 nights</h3>
      <ol>
        <!-- <li><a [routerLink]="['/home/5nights/play/5nights1']">5 nights - 1</a></li> -->
      </ol>
    </li>
    <li>
      <h3>CASINO</h3>
      <ol>
        <li>
          <a [routerLink]="['/home/CASINO/play/Black_Jack']">Black Jack</a>
        </li>
        <li>
          <a [routerLink]="['/home/CASINO/play/Maquina_tragaperras']">Tragaperras</a>
        </li>
        <li>
          <a [routerLink]="['/home/CASINO/play/Carreras_de_caballos']">Carrera de caballos</a>
        </li>
      </ol>
    </li>
  </ol>
</div>

<br>

<div class="container">
  <h1>Próximamente</h1>
  <ol>
    <li>
      <h3>Minecraft</h3>
      <ol>
        <li>Encontrar el bloque</li>
        <li>Encontrar el mob</li>
      </ol>
    </li>
    <li>
      <h3>The binding of Isaac</h3>
      <ol>
        <li>Encontrar el item</li>
      </ol>
    </li>
    <li>
      <h3>5 nights</h3>
      <ol>
        <li>5 nights - 1</li>
      </ol>
    </li>
    <li>
      <h3>CASINO</h3>
      <ol>
        <li>Ruleta</li>
      </ol>
    </li>
    <li>
      <h3>Abrir sobres</h3>
      <ol>
        <li>Pokémon</li>
        <li>FiFa</li>
      </ol>
    </li>
    <li>
      <h3>Clásicos</h3>
      <ol>
        <li>Piedra, Papel, Tijera de roles - Tipos de Pokémon</li>
        <li>Piedra, Papel, Tijera de roles - Tipos de Clásico</li>
        <li>Piedra, Papel, Tijera de roles - Tipos de Elementos</li>
      </ol>
    </li>
  </ol>
</div>
