
<div class="controles">
    <button (click)="returnHome()">Volver a HOME</button>
</div>

<div class="game-container">
    <h1 class="turnos">Turno: {{ valorTurno }}</h1>
    <div class="puntuaciones">
        <h2 class="jugador">Puntos: {{ totalPuntosJugadorManoActual }}</h2>
        <h2 class="maquina">Puntos IA ( {{ totalPuntosIAManoActual }} )</h2>
    </div>
    <div class="action-buttons">
        <button *ngIf="!partidaAcabada" (click)="jugadorJuega()">Pedir carta </button>
        <button *ngIf="!partidaAcabada" (click)="iaJuega()">Acabar turno </button>
        <button *ngIf="partidaAcabada" (click)="reiniciarPartida()">Nueva partida </button>
        <select [(ngModel)]="dificultad">
            <option>Fácil</option>
            <option>Medio</option>
            <option>Dificil</option>
            <option>Insano</option>
            <option>Imposible</option>
        </select>
        {{ dificultad }}
    </div>
    <div class="mano-jugador">
        <span *ngFor="let carta of cartasJugador" class="carta"><img [src]="carta.imagen"></span>
    </div>
</div>